<h3>Excel Table Performance</h3>
<div class="card">
  <p><strong>Example 1</strong></p>
  <p>Create table by inserting rows into a tables RowCollection.</p>
  <p>Number of Records: <strong>2000</strong></p>
  <p>Number of Columns: <strong>17</strong></p>
  <button (click)="createTable()">Create Table</button>
  <p>It took {{perf}} milliseconds to create table!</p>
</div>
<div class="card">
  <p><strong>Example 2</strong></p>
  <p>Create table getting DataBodyRange and updating Values</p>
  <p>Number of Records: <strong>2000</strong></p>
  <p>Number of Columns: <strong>17</strong></p>
  <button (click)="createTable2()">Create Table2</button>
  <p>It took {{perf2}} milliseconds to create table!</p>
</div>